.role--High {
    color:green;
}
.role--Medium {
    color:orange;
}
.role--Low{
    color:red;
}
h2{
    font-size: 20px !important;
    background-color: darkslategrey;
}
.skills-box{
    max-width: 700px;
    width: 200px;
    height: 50px;
    display: flex;
    margin: 1rem;
    border-radius: 2rem;
    box-shadow: 0 0 2rem rgba(0,0,0,.2);
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
}
.skills-box-container
 {
    display: block;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.role
{
    font-size:25px;

}
.role-user{
    margin-left: 2rem;
    text-align: justify;
}