.profile{
    align-items: center;
    justify-content: center;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
.profile_title{
    align-items: center;
    padding: 0;
    border: 0;
    font-size: 100%;
    justify-content: center;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;

}
.circle-icon {
    font-size: 25px;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    cursor: pointer;
    justify-content: center;
    background: lightgray;
    /* background: rgba(0,0,0,.05); */
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.far {
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}
.circle-icon-card {
    font-size: 20px;
    color: #000;
    margin-left: 1.5rem;
    line-height: 6rem;
}
.user-profile{
    font-size: 30px;
    /*    line-height: 2.8rem;
        margin-top: 10px;
        margin-bottom: 10px;
        color: #000;
        font-family: "Helvetica";*/
}
.user{
    max-width: 700px;
    width: 100%;
    display: inline-flex;
    text-align: justify;
    padding-left: 10px;

}

.fa, .fab, .fad, .fal, .far, .fas {
    display: inline-block;
    font-style: normal;
    overflow: visible;
    line-height: inherit;
}