body {
    overflow-x: hidden;
    background-color: lightsteelblue!important;

}

body, html {
height: 100%;
margin: 0;
padding: 0;
border: 0;
background-color: lightsteelblue;


}
#root {
    background-color: lightsteelblue;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: initial;
}


.App .App_container {
    padding-left: 0;
    padding-right: 0;
}

.container {
    max-width: 700px;
    width: 100%;
    padding-bottom: 30px;
    padding-right: 50px;
    padding-left: 30px;
    margin-left: auto;
    margin-bottom: auto;
    display: block;
    margin-top: 1rem;
    border-radius: 2rem;
    box-shadow: 0 0 2rem rgba(0,0,0,.2);
    background-color: aliceblue;
}
.container--goals {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
}
.container--title {
    max-width: 700px;
    width: 100%;
    font-size: 20px;
    margin-top: 1rem;
    border-radius: 2rem;
    box-shadow: 0 0 2rem rgba(0,0,0,.2);
    font-weight: bold;
    color: darkblue;

}
.container, .h3{
    align-items: center;
}